<div class="continer">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
          <div class="post-meta">
            <%= link_to (profile_picture_small post.account), profile_path(post.account.username) %>
            <%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %>
          </div>

          <%= image_tag post.image.first.url, class: "img img-fluid" %>

          <div class="post-details">

            <div class="post-actions">
              <% if post_liked_by_user?(post.id) %>
                <%= button_to "Unlike", like_post_path(post.id), method: "put", class: "btn btn-danger btn-sm" %>
              <% else %>
                <%= button_to "Like", like_post_path(post.id), method: "put", class: "btn btn-outline-danger btn-sm" %>
              <% end %>
            </div>

            <p><strong><%= post.total_likes_count %> likes</strong></p>
            <p><strong><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %></strong></p>

            <%= simple_format post.description %>

            <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>

            <%= render "posts/comments", post: post %>
          </div>

          <div class="comment-box">
            <%= form_for @comment do |f| %>
              <%= f.hidden_field :post_id, value: post.id %>
              <div class="input-group">
                <%= f.text_field :comment, placeholder: "Add comment here...", class: "form-control post-comment", autocomplete: "off" %>
                  <div class="input-group-append">
                    <%= f.submit "Post", class: "btn btn-success float-right" %>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <div class="account-summary">
        <p class="m-0">
          <%= link_to (image_tag current_account.image.url, class: "img-circle-small float-left m-r-15"), profile_path(current_account.username) if current_account.image.present? %>
          <strong><%= link_to current_account.username, profile_path(current_account.username), class: "text-dark" %></strong><br/>
          <%= current_account.full_name %>
        </p>
      </div>
      <div class="follower-suggestions">
        <%= link_to "View All", '#', class: "float-right text-dark" %>
        <p class="text-muted">Suggestions for you</p>
      </div>
    </div>
  </div>
</div>
