<%= turbo_frame_tag "update_profile" do %>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= profile_picture_big @account %>
      </div>
      <div class="col-8 text-left">
        <div class="row">
          <div class="col-6">
            <%= link_to "Edit Profile", edit_account_registration_path, class: "btn btn-outline-secondary float-right" if can_edit_profile?(@account.id) %>

            <% if @account.id != current_account.id %>
              <% if already_followed?(@account.id) %>
                <%= button_to "Unfollow", unfollow_account_path(@account.id), method: "put", class: "btn btn-primary float-right" %>
              <% else %>
                <%= form_tag follow_account_path, method: :post do %>
                  <%= hidden_field_tag :follow_id, @account.id %>
                  <%= submit_tag "Follow", class: "btn btn-success float-right" %>
                <% end %>
              <% end %>
            <% end %>

            <h1><%= @account.full_name %></h1>
          </div>
        </div>

        <div class="row profile-stats">
          <div class="col-4">
            <%= @account.posts.count %> posts
          </div>
          <div class="col-4">
            <%= @account.total_followers %> followers
          </div>
          <div class="col-4">
            <%= @account.total_following %> following
          </div>
        </div>

        <p><%= @account.full_name %></p>
        <%= simple_format @account.description %>

        <p><%= link_to @account.website if @account.website.present? %></p>
      </div>
    </div>
    <br/>

    <br/>
    <div class="continer">
      <div class="row">
        <div class="col-10">
          <% @post.each do |post| %>
            <div class="insta-post">
              <div class="post-meta">
                <%= link_to (profile_picture_small post.account), profile_path(post.account.username) %>
                <%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %>
              </div>

              <div class="fill">
                <%= image_tag post.image.first.url, class: "img img-fluid" %>
              </div>

              <div class="post-details">

                <div class="post-actions">
                  <% if post.account.id==current_account.id %>
                    <%= button_to 'Delete Post', post, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-warning btn-sm float-right" %>
                  <% end %>

                  <% if post_liked_by_user?(post.id) %>
                    <%= button_to "Unlike", like_post_path(post.id), method: "put", class: "btn btn-danger btn-sm" %>
                  <% else %>
                    <%= button_to "Like", like_post_path(post.id), method: "put", class: "btn btn-outline-danger btn-sm" %>
                  <% end %>
                </div>

                <p><strong><%= post.total_likes_count %> likes</strong></p>
                <p><strong><%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %></strong></p>

                <%= simple_format post.description %>

                <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>

                <%= render "posts/comments", post: post %>
              </div>

              <div class="comment-box">
                <%= form_for @comment do |f| %>
                  <%= f.hidden_field :post_id, value: post.id %>
                  <div class="input-group">
                    <%= f.text_field :comment, placeholder: "Add comment here...", class: "form-control post-comment", autocomplete: "off" %>
                      <div class="input-group-append">
                        <%= f.submit "Post", class: "btn btn-success float-right" %>
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <br/>
  </div>

<% end %>
